body {
    background-image: url("/images/urban-city.jpg");
    background-position:center;
    background-repeat:repeat;
    

}

a {
 
	outline: 20px outset #808080;
outline-offset: 10px; 
 font-size:30px;
 background-color:#ace435;
 
}

@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}
